# Output de Cargo build
/target
*/target

# Archivos Cargo
Cargo.lock

# Directorios y archivos del editor
/.idea
/.vscode/
*.swp
*~

# Archivos de ejecución
/ypf_ruta/src/data/*
/ypf_ruta/src/logs/*
/estacion/storage/*
/estacion/logs/*

# Archivos temporales
/tmp
borrador.txt
TP.pdf
/estacion/storage
/ypf_ruta/src/data